.galeria {
    display: grid;
    grid-column-gap: 50px;
    display: grid;
     
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
 }
 body::before,
 body::after {
   content: "";
   display: table;
   clear: both;
 }
 body * {
   box-sizing: inherit;
 }
 p, h1 {
   margin: 0; padding: 0;
 }
 
  body, .text-light-black {
    color: rgba(0,0,0,0.6);
 }
 .text-black {
   color: rgba(0,0,0,0.9);
 }
 .text-muted {
   color: rgba(0, 0, 0, 0.3);
 }