.CartWidget {
    width: 300px;
    text-align: right;
    font-size: 2rem;
    transition: transform 0.3 ease;
   }
  
 .CartWidget a i:hover {
    transition: scale(1.1);
    transform: rotate(0.1turn);
   }