.styles.container {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

h6 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}