.div-navbar{
  margin: 27px auto 0;
	position: relative;
	width: 50%;
	height: auto;
	border-radius: 8px;
	font-size: 0;
 
}
ul{
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }

li a:hover{
  background-color: #ddd;
}
   .logo {
    width: 320px;
  }
 
