.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }

li a:hover{
  background-color: #ddd;
}
   .logo {
    width: 320px;
  }
  .carrito{
  width: 300px;
  text-align: end;
  font-size: 2rem;
  transition: transform 0.3 ease;
  color: aqua;
}
